<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>

  <div class="index">

    <%- include('./common/header.ejs', { nickname: nickname, isAdmin: isAdmin }) %>

    <div class="container">

      <%- include('./common/menu.ejs', { isAdmin: isAdmin }) %>

      <div class="main">

      <p>Welcome</p>

      </div>
    </div>
  </div>

  <from action="/moblie/upload" method="POST" enctype="multipart/from-data">
      <input type="text" name="mobliename" placeholder="请输入手机名称">

      <input type="file" name="mobile">

      <input type="submit" value="提交">
  </from>
</body>
</html>
