<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>

  <div class="index">
    <%- include('./common/header.ejs', { nickname: nickname, isAdmin: isAdmin }) %>
    <div class="container">
      <%- include('./common/menu.ejs', { isAdmin: isAdmin }) %>
      <div class="main">
        <table cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th>序号</th>
              <th>图片</th>
              <th>手机名称</th>
              <th>所属品牌</th>
              <th>官方指导价</th>
              <th>二手回收价</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <!-- 循环 userList 显示用户数据 -->
              <tr>
                <td>1</td>
                <td>图</td>
                <td>苹果 iphone XS Max</td>
                <td>苹果</td>
                <td>￥18000</td>
                <td>￥12000</td>
                <td>
                  <!--
                    1. 如果当前登录的管理员跟这条记录匹配。那么可以修改，
                    2. 如果这条记录是管理员记录的话，那么不可以删除
                   -->
                </td>
              </tr>
          </tbody>
        </table>
        <!-- 通过 传过来  totalPage 来渲染我们的 分页组件 -->
        <ul>

        </ul>
      </div>
    </div>
  </div>
</body>
</html>
