<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href="/css/style.css">
  </head>
  <body>
     <!-- emmet -->

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
          <h1 class="col-md-12 col-md-offset-1">XX - 后台管理系统</h1>

          <form action="/users/register" method="POST" class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-4">用户名：</label>
              <div class="col-sm-8">
                <input type="text" name="username" class="form-control" id="username" placeholder="请输入用户名">
                <span class="username-error" style="display:none">用户名有误，请重新输入（必须是5-10位）</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">密码：</label>
              <div class="col-sm-8">
                <input type="password" name="password" class="form-control" id="password" placeholder="请输入密码">
                <span class="password-error" style="display:none">密码格式不正确（必须是6-14位）</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">确认密码：</label>
              <div class="col-sm-8">
                <input type="password" name="repassword" class="form-control" id="repeatPwd" placeholder="请再次输入密码">
                <span class="repeatPwd-error" style="display:none">密码错误，请重新输入</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">昵称：</label>
              <div class="col-sm-8">
                <input type="text" name="nickname" class="form-control" id="nickname" placeholder="请输入昵称">
                <span class="nickname-error" style="display:none">昵称要在两个字以上哦</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">手机号码：</label>
              <div class="col-sm-8">
                <input type="text" name="phone" class="form-control" id="phone" placeholder="请输入手机号码">
                <span class="phone-error" style="display:none">手机号有误，请重新输入</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">是否是管理员：</label>
              <div class="col-sm-8">
                <input type="radio" name="isAdmin" value="1">是
                <input type="radio" name="isAdmin" value="0" checked>不是
              </div>
            </div>
            <button type="submit" class="col-md-4 col-md-offset-5 btn btn-primary">提交</button>
          </form>
      </div>
    </div>
  </div>
    
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/reg.js"></script>
  </body>
</html>
