.index {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .index .header {
    height: 60px;
    line-height: 60px;
    background: rgb(155, 148, 148);
    opacity: 0.8;
  }
  
  .index .container {
    display: flex;
    flex: 1;
  }
  
  .container .menu {
    width: 260px;
    height: 100%;
    background: rgb(59, 84, 139);
    opacity: 0.8;
  }
  
  .container .main {
    flex: 1;
    height: 100%;
    background: #E4E9E7;
    opacity: 0.8;
  }
  
  /* // ======== [头部样式] ======== */
  .header {
    display: flex;
    justify-content: space-between;
  }
  

  
  .header .header_right {
    display: flex;
  }
  
  /* // ======== [左侧菜单] ======== */
  .menu {
    /* border-right: 1px solid rgb(11, 11, 12); */
    box-shadow: 5px 5px 2px rgb(8, 8, 8);
  }
  
  .menu ul{
    margin-top: 50px;
  }

  .menu .menu_item {
    height: 50px;
    line-height: 50px;
    margin-left: 80px;
    font-size: 18px;
    
  }
  
  .menu .menu_item :hover{
    color: red;
  }
  .menu .menu_item a{
    color: #000;
  }
  body {
    background:url(/images/6.jpg) no-repeat center;
  }

  .header h2{
    font-size: 25px;
    font-weight: 400;
    margin-left: 20px;
  } 

  a{
    text-decoration: none;
  }

  .header .header_right p{
    font-size: 20px;
  }

  .header .header_right button{
    width: 80px;
    height: 50px;
    line-height: 50px;
    background: rgb(21, 105, 156);
    border: none;
    margin: 5px 20px 5px 10px;
    
  }

  .header .header_right button a{
    color: #000;
    font-size: 16px;
  }

  input{
    outline: none;
    border: none;
  }

  .main input{
    width: 502px;
    height: 40px;
    margin-left: 352px;
    margin-top: 20px;
  }

  .main button{
    width: 40px;
    height: 40px;
    border: none;
    background: #3498DB;
  }

  .main table{
    text-align: center;
    width: 600px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
  }
  .main table tr{
    border: 1px solid #797979;
  }

  .main table td{
    border: 1px solid #797979;
  }

  .main ul{
    margin-right: 406px;
    margin-top: 20px;
    float: right;
  }

  .main ul li{
    float: left;
  }