.index {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .index .header {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #000;
  }
  
  .index .container {
    display: flex;
    flex: 1;
  }
  
  .container .menu {
    width: 260px;
    height: 100%;
    background: #5E90B0;
    opacity: 0.8;
  }
  
  .container .main {
    flex: 1;
    height: 100%;
    background: #5E90B0;
    opacity: 0.8;
  }
  
  /* // ======== [头部样式] ======== */
  .header {
    display: flex;
    justify-content: space-between;
  }
  

  
  .header .header_right {
    display: flex;
  }
  
  /* // ======== [左侧菜单] ======== */
  .menu {
    border-right: 1px solid #000;
  }
  
  .menu .menu_item {
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
    font-size: 18px;
    
  }
  
  .menu .menu_item a{
    color: #000;
  }
  body {
    background:url(/images/6.jpg) no-repeat center;
  }

  .header h2{
    font-size: 25px;
    font-weight: 400;
    margin-left: 20px;
  } 

  a{
    text-decoration: none;
  }

  .header .header_right p{
    font-size: 20px;
  }

  .header .header_right button{
    width: 80px;
    height: 50px;
    line-height: 50px;
    background: #5E90B0;
    border: none;
    margin: 5px 20px 5px 10px;
    
  }

  .header .header_right button a{
    color: #000;
    font-size: 16px;
  }